<div class="border-t border-gray-300 pt-5 pb-16 text-gray-500">
  <div class="utility-label mb-4 tracking-normal normal-case text-gray-500">
    <br />
    Avrê Barra - Software Engineer
    <br />
  </div>
  <div class="flex space-x-3 text-sm">
    <a href="http://github.com/avrebarra"><i class="fab fa-github fa-lg shakefx" aria-hidden="true"></i></a>
    <a href="https://linkedin.com/in/avrebarra/"><i class="fab fa-linkedin fa-lg shakefx" aria-hidden="true"></i></a>
    <a href="http://twitter.com/shrotavre"><i class="fab fa-twitter fa-lg shakefx" aria-hidden="true"></i></a>
    <a href="http://instagram.com/avrebarra"><i class="fab fa-instagram fa-lg shakefx" aria-hidden="true"></i></a>
  </div>
</div>