<div class="footer mb-4 text-sm text-gray-400">
  <div class="mb-3">
    - - - - - -
    <br />
    Avrê Barra - Software Engineer
    <br />
  </div>
  <!-- uses brands style -->
  <div class="social-icons flex space-x-2">
    <a href="http://github.com/avrebarra"><i class="icon-github icon-large shakefx" aria-hidden="true"></i></a>
    <a href="https://linkedin.com/in/avrebarra/"><i class="icon-linkedin icon-large shakefx" aria-hidden="true"></i></a>
    <a href="http://twitter.com/avrebarra"><i class="icon-twitter icon-large shakefx" aria-hidden="true"></i></a>
    <a href="http://instagram.com/avrebarra"><i class="icon-instagram icon-large shakefx" aria-hidden="true"></i></a>
  </div>
</div>