<div class="comments">
    <script src="https://giscus.app/client.js" data-repo="{{ site.giscus.repo }}"
        data-repo-id="{{ site.giscus.repo-id }}" data-category="{{ site.giscus.category }}"
        data-category-id="{{ site.giscus.category-id }}" data-mapping="{{ site.giscus.mapping | default: 'pathname' }}"
        data-strict="0" data-reactions-enabled="1" data-emit-metadata="0" data-input-position="top"
        data-theme="{{ site.giscus.theme | default: 'light' }}" data-lang="en" data-loading="lazy"
        crossorigin="anonymous" async>
        </script>
</div>