<script async src="https://www.googletagmanager.com/gtag/js?id=G-P8KHYCM7Q8"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }

  gtag("js", new Date());
  gtag("config", "G-P8KHYCM7Q8");
</script>

<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
<script>
  function addDarkmodeWidget() {
    new Darkmode({
      label: "🌓",
      autoMatchOsTheme: false,
    }).showWidget({});
  }
  window.addEventListener("load", addDarkmodeWidget);
</script>

{% include analytics.html %}
<script type="module" src="/assets/js/runtime.js"></script>