main {
	margin: 3em 1em;
	max-width: 35em;
}

section.post p {
	font-weight: lighter;
	font-size: 1.15em;
	line-height: 1.7em;
}

section.post code {
	font-size: 1.1em;
}

.logo{
	font-size: 1.3em;
	margin-bottom: 0px;
	margin-right: .5em;
	display: inline;
}

.navigation a{
	margin-right: .5em;
}

.posts .item{
	margin-bottom: .5em;
}

.banner{
	margin-bottom: 1em;
}