.posts .item{
    margin: 1.5em 0em;
}

a.li-title:visited {
  color: #393939;
}

.li-title {
    color: #393939;
    font-weight: 700;
}

h2 {
    color: #393939;
    font-weight: 700;
}

.posts a:visited {
  color:rgb(69, 69, 69);
}

body {
    font-size: 13pt;
    line-height: 2em;
    font-weight: 300;
}

.post p {
  font-size: 12pt;
  line-height: 2em;
}

code{
  font-size: 9pt;
  line-height: 1.7em;
}