---
layout: default
permalink: /
---

<div id="home" class="content mt-3">
  <img class="h-48 mt-1 mb-8" src="/images/raccoon.gif" alt="" srcset="" />
  <p class="leading-loose text-gray-700">
    Hi, I'm
    <a href="http://github.com/avrebarra">@Avrebarra</a>, Indonesian software engineer.
    <br />
    I usually talk about system orchestration and resilience, making engineering easy for humans, arts and design, and
    maybe some other more.
  </p>

  <div class="mt-6 mb-2 flex items-end justify-between">
    <h1 class="mb-0 mr-3 text-3xl">Posts & Writings</h1>
  </div>
  <div class="space-y-3">
    {% for post in site.posts %}
    {% if post.highlighted %}
    <div class="flex items-start">
      <div class="mr-3 text-gray-400">&raquo;</div>
      <div><a href="{{ post.url }}">{{ post.title }}</a></div>
    </div>
    {% endif %}
    {% endfor %}
    <div class="mt-6 flex items-start">
      <div class="mr-3 text-white">&raquo;</div>
      <div><a class="site-nav-link normal-case tracking-normal text-gray-500" href="/posts">See more posts...</a></div>
    </div>
  </div>
</div>