---
layout: page
title: All Posts
permalink: /posts/
---

<script>
  function showSeries(series) {
    const articles = document.querySelectorAll('.article');
    const buttons = document.querySelectorAll('.series-button');

    buttons.forEach(button => {
      if (button.getAttribute('data-series') === series) {
        button.classList.add('text-gray-900');
      } else {
        button.classList.remove('text-gray-900');
      }
    });

    articles.forEach(article => {
      if (series === 'all' || article.getAttribute('series') === series) {
        article.classList.remove('hidden');
        article.classList.add('block');
      } else {
        article.classList.remove('block');
        article.classList.add('hidden');
      }
    });

    const url = new URL(window.location.href);
    url.searchParams.set('series', series);
    history.pushState({ path: url.href }, '', url.href);
  }

  document.addEventListener('DOMContentLoaded', function () {
    const seriesParam = decodeURIComponent(new URLSearchParams(window.location.search).get('series') || '');
    if (seriesParam) {
      showSeries(seriesParam)
    }
  });
</script>

{% assign seriesList = site.posts | map: "series" | uniq %}

<div id="home" class="content mt-3">
  <div class="flex text-sm text-gray-600">
    <span class="text-gray-900 mr-2">Series:</span>
    <span class="flex gap-x-2">
      <a class="cursor-pointer series-button text-gray-900" data-series="all" onclick="showSeries('all')">All</a>
      {% for series in seriesList %}
      <a class="cursor-pointer series-button" data-series="{{ series | downcase }}"
        onclick="showSeries('{{ series | downcase }}')">{{ series }}</a>
      {% endfor %}
    </span>
  </div>

  <ul class="posts">
    {% for post in site.posts %}
    <div class="flex article items-center mb-2 mt-2" series="{{ post.series | downcase }}">
      <div class="post-date mr-2 text-gray-500 text-sm font-mono">{{ post.date |
        date:
        "%m-%d-%Y" }} &raquo;</div>
      <div class="flex-1 overflow-hidden whitespace-nowrap">
        <a href="{{ post.url }}" class="block overflow-hidden whitespace-nowrap overflow-ellipsis">{{ post.title }}</a>
      </div>
    </div>
    {% endfor %}
  </ul>
</div>