<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

<head>
  {% include head.html %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "{{ site.author.name }}",
    "url": "{{ site.author.url }}",
    "sameAs": [
      "{{ site.author.github }}",
      "{{ site.author.linkedin }}",
      "{{ site.author.twitter }}"
    ]
  }
  </script>
</head>

<body class="mx-8 my-10 flex justify-center md:mt-52">
  <div class="w-full max-w-xl">
    {% include header.html %}
    <div class="mb-4"></div>
    {{ content }}
    <div class="mb-4"></div>
    {% include footer.html %}
  </div>
  {% include scripts.html %}
</body>

</html>