---
layout: default
---

{% if page.description %}
{% assign post_description = page.description %}
{% elsif page.excerpt %}
{% assign post_description = page.excerpt | strip_html %}
{% else %}
{% assign post_description = site.description %}
{% endif %}
{% capture post_og_image %}https://dynamic-og-image-generator.vercel.app/api/generate?title={{ page.title
}}&author=Avre%20Barra&websiteUrl=%40avrebarra&theme=default{% endcapture %}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ page.title | jsonify }},
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "url": "{{ site.url }}{{ page.url }}",
  "description": {{ post_description | jsonify }},
  "image": "{{ post_og_image }}",
  "keywords": {{ page.tags | join: ", " | jsonify }},
  "author": {
    "@type": "Person",
    "name": "{{ site.author.name }}",
    "url": "{{ site.author.url }}"
  }
}
</script>

<div class="mt-10 mb-1 max-w-lg text-2xl font-semibold leading-tight">
  <a href="{{ page.url }}">{{ page.title }}</a>
</div>

<div class="text-sm text-gray-500">
  <span>
    {{ page.date | date: "%B %e, %Y" }} in <a class="border-b border-dotted border-gray-500"
      href="/posts/?series={{ page.series | url_encode }}">{{ page.series }}</a>
    -
    <span>
      <span class="reading-time__label"></span>
      <span class="reading-time__duration"></span>
      <span class="reading-time__word-count"></span>
    </span>
  </span>
</div>

<article id="post" class="content mt-5 text-gray-800">{{ content }}</article>

<!-- <div id="related" class="mb-10 text-gray-800">
  . . . . . . . . . . . . . . . . . . . . . . . .
  <h2 class="mt-0">Other Posts</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
    <li>
      <span class="font-mono text-sm text-gray-600">{{ post.date | date_to_string }}</span>
      &raquo;
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
</div> -->

<div id="comment">
  {% include giscus.html %}
</div>