---
layout: default
---

<div class="text-2xl font-semibold mb-1 mt-10 max-w-lg leading-tight">
  <a href="{{ post.url }}"><span class=""></span> {{ page.title }}</a>
</div>

<div class="text-sm text-gray-500">
  <span>
    <span class="reading-time__label"></span>
    <span class="reading-time__duration"></span>
    <span class="reading-time__word-count"></span>
  </span>
  <span>-</span>
  <span>Written on {{ page.date | date: "%B %e, %Y" }}</span>
</div>

<article id="post" class="content mt-5 detail-wrapper text-gray-800">{{ content }}</article>

<!-- <div id="related" class="mb-10 text-gray-800">
  . . . . . . . . . . . . . . . . . . . . . . . .
  <h2 class="mt-0">Other Posts</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
    <li>
      <span class="font-mono text-sm text-gray-600">{{ post.date | date_to_string }}</span>
      &raquo;
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
</div> -->

<div id="comment">
  {% include giscus.html %}
</div>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    new ReadingTime(270, '', 'minutes read', 'words', 'Less than a minute read');
  })
</script>